body
h1{text-align: center;
}
.parte1 {background-color: antiquewhite;
    {h1 text-align: center: ;}
    h2 {font-size: 200%;}
}

.parte2{background-color: antiquewhite;
    h1 {text-align: center: ;}
}
.parte3{background-color: aliceblue;
    h1 {text-align: center;}
}
